# Ignore all files and folders starting with the specified names
l.pgn
w.pgn
_myfile
w.pgn
scrape_.py
giant.pgn
losses.pgn
wins.pgn
white.pgn
example3.pgn
winexample.pgn
study.pgn
study.png
gothamchess_draws.pgn
Games Of GMs.pgn
gamesofgms_black_wins.pgn
gamesofgms_wins.pgn
gamesofgms_wins.png
gmgames_draws.pgn
gmgames_draws.png
gmgames_wins_black.pgn
gmgames_wins_white.pgn
gmgames_wins_white.png
gmgames_wins_black.png
twic1549.pgn
twic1549_draws.pgn
twic1549_losses.pgn
twic1549_wins.pgn
GamesOfGMs.pgn
gmgames_losses.pgn
724blitz.pgn
724blitz_wins.pgn
*.pgn
